body {
  background-color: #282c34;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  height: 100vh;
  justify-content: center;
}

.contact {
  color: hotpink;
  font-size: 25px;
}

a {
  color: white
}

h1 {
  font-size: 60px;
  color: #da70d6;
  text-shadow: 0px 6px 4px #ee2e24;
}

.describe {
  font-size: 25px;
  color: #efffc8;
  font-weight: 500;
}

.result {
  font-size: 80px;
  font-weight: bolder;
}

button {
  padding: 20px 60px;
  margin: 0 8px;
  outline: none;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 6px 4px #ee2e24;
  transition: .2s;
}

button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 4px #5ea6e2;
}